.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.books-cover {
  height: 50px;
  width: auto;
}

.books-search{
  height: 50px;
  width: auto;
}


.book-card{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  background-color: whitesmoke;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  border-style: double;
  padding-top: 3%;
}
.book-card a {
  padding-top: 5%;
  font-size: 20px;
}

.book-card a:link {
  color: black;
  font-weight: 900;
}
.book-card a:visited {
  color:#273C2C
}


.book-card img {
  width: 50%;
  object-fit: cover;
}
.book-card h2{
  font-size: 14px;
}
.book-card h3{
  font-size: 16px;
}

.search {
  height: 35px;
  width: 350px;
  font-family: 'Merriweather', serif;
}

.all-books{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}

.add-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: 473423;
  font-family: 'Merriweather', serif;
}

.add-book h1 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  border:double #273C2C;
  padding: 2%;
}

.button {
  background-color: #273C2C;
  border:solid #000 3px;
  color: #F2E6DA;
  font-family: 'Merriweather', serif;
}

.main-page{
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
}
.main-page h1{
  color: #473423;
}
.main-page img {
  width: 90%;
}

.nav-loggedin{
  font-family: 'Merriweather', serif;
  font-size: larger;
  background-color: #AA9079;
  color: #F2E6DA;
  padding: 10px;
}
.nav-loggedin a:visited {
  color: #F2E6DA
}

.books-page{
  font-family: 'Merriweather', serif;
}

.nav-loggedin button{
  font-family: 'Merriweather', serif;
  background-color: whitesmoke;
  border: double;
  border-color: azure;
}
.book-info{
  font-family: 'Merriweather', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-info h1{
  font-weight: 900;
  border: double;
  width: 50%
}
.book-info img{
  height: 500px;
}
.book-info button{
  width: 200px;
  height: 30px;
  font-family: 'Merriweather', serif;
  margin: 10px;
  background-color:#AA9079;
  color:#F2E6DA;
  font-weight: 800;
}
.profile-page{
  font-family: 'Merriweather', serif;
}
.button-space{
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}
.authForm{
  display: flex;
  justify-content: center;
  padding: 5%;
  font-family: 'Merriweather', serif;
}
.book-card-favorites{
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  background-color: whitesmoke;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  border-style: double;
  padding-top: 3%;
  max-width: 25%;
}
.book-card-favorites img{
  width: 50%;
}
.book-card-favorites button{
  padding-bottom: 2%;
}
.favorites-space{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}
.authPage{
  font-family: 'Merriweather', serif;
}

